/* CSS Document */

/* drupalit widget - start */
.vote-wrap {
	float: left;
	text-align: center;
	margin: 0;
	padding: 0;
	width:50px;
	height:68px;
	background:url(drupal_it.png) top left no-repeat;
	margin-right: 5px;
}
.vote-wrap-login {
	float: left;
	text-align: center;
	margin: 0;
	padding: 0;
	width:50px;
	height:68px;
	background:url(drupal_it.png) top left no-repeat;
	margin-right: 5px;
}
.vote-wrap a, .vote-wrap a:link,
.vote-wrap a span.vote-text, .vote-wrap a:link span.vote-text {
	font-weight: normal;
	color: #000000;
}
.vote-count {
	margin: 0;
	padding: 8px 0 0 0;
	overflow: visible;
	width:50px;
	height:36px;
	font-size: 2.5em;
	line-height: 100%;
	cursor: default;
}
.vote-counted {
	margin: 0;
	padding: 8px 0 0 0;
	width:50px;
	height:36px;
	font-size: 2.5em;
	line-height: 100%;
	cursor: default;
}
.vote-text {
	display: block;
	margin: 0;
	padding: 3px 0 0 0;
	width: 50px;
	height: 21px;
	text-decoration: none;
	cursor: pointer;
	overflow:hidden;
}
.vote-text:hover {
}
.voted-text {
	left:0px;
	top:48px;
	display: block;
	margin: 0;
	padding: 3px 0 0 0;
	width: 50px;
	height: 21px;
	cursor: default;
}
/* drupalit widget - end */

/* drupalit statistic - start */
table.drupalit th {
  text-align: center;
}
table.drupalit td.data {
  text-align: center;
}
table.drupalit td.large {
  padding: 0 5px;
}
/* drupalit statistics - end */

